<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30"
               status="off"
               name="RoutingTest"
               packages="log.slf4j.demo.filter">
    <Properties>
        <Property name="filename">rollingtest-${sys:type}.log</Property>
    </Properties>
    <!--全局filter-->
    <Filters>
        <FlexibleLevelRangeFilter minLevel="ERROR" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
    </Filters>
    <Appenders>
        <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RandomAccessFile name="RandomAccessFile" fileName="${filename}" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d{dd MMM HH:mm:ss} %p %c{-10} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <Console name="STDOUT">
<!--            <PatternLayout pattern="%m%n"/>-->
            <PatternLayout>
                <pattern>%d{MM-dd HH:mm:ss} %t[%p][%F:%L]%marker - %m%n</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout>
                <pattern>%d{MM-dd HH:mm:ss} %t[%p]%c{-10}%marker %m%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--logger不要有自己的level 参考filter-->
        <Logger name="log.slf4j.demo" additivity="true" includeLocation="false">
            <!--        <Logger name="log.slf4j.demo" level="${sys:level}" additivity="true">-->
            <AppenderRef ref="RollingFile"/>
            <!--<AppenderRef ref="RandomAccessFile"/>-->
        </Logger>

        <Root level="error">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>